---
layout: default
title: rousseau.io
---
<div class="grid-items" id="posts">
    {% for post in site.posts %}
        <a href="{{ post.url }}" class="grid-item">
            <i class="fa {{ post.icon }} fa-2x"></i>
            <div class='title'>{{ post.title }}</div>
            {% if post.subtitle %}
            <div class='subtitle'>({{ post.subtitle }})</div>
            {% endif %}
            <hr/>
            <div class='description'>{{ post.description }}</div>
            <div class='date'>{{ post.date | date_to_string }}</div>
        </a>
    {% endfor %}
    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
</div>
